// VISUAL BULLETS (IMAGE + TEXT)
// --------------------------------------------------

.bullets {
	$icon-bullet-size: $column;
	overflow: auto;

	// change ".three-col-bullet" class to this for two bullet layout
	.two-col-bullet {
		@include media($large) {
			@include span-columns(6);
			@include omega(2n);
		}
	}
	.three-col-bullet {
		@include media($large) {
			@include span-columns(4);
			@include omega(3n);
		}
	}
	// change ".three-col-bullet" class to this for four bullet layout
	.four-col-bullet {
		@include media($large) {
			@include span-columns(3);
			@include omega(4n);
		}
	}

	.bullet-icon {
		float: left;
		background: $base-color;
		padding: $icon-bullet-size /4;
		border-radius: 50%;
		width: $icon-bullet-size * 1.25;
		height: $icon-bullet-size * 1.25;
		border: 3px solid gray;
	}
	.bullet-content {
		margin-left: $icon-bullet-size * 1.4;
		margin-bottom: 2em;
	}
	h2 {
		margin-top: 0;
		@include font-size(20,no);
		display: inline-block;
	}
	p {
		@include font-size(14);
	}
}

.unstyled-list {
	padding-left: 0;
	margin-left: 0;
	list-style: none;
	article {
		height: 90px;
	}
	.preview {
		float: left;
		width: 75px;
		height: 75px;
		margin-right: 20px;
		margin-bottom: 20px;
		margin-left: 0;
		-webkit-border-radius: 75px;
		-moz-border-radius: 75px;
		border-radius: 75px;
		border: 4px solid #ccc;
	}
	h2.title {
		font-size: 1.1875rem;
		line-height: 1.2632;
		margin: 0;
		text-decoration: none;
	}
	p.entry-meta {
		clear: none;
		font-size: 0.875rem;
		line-height: 1.7143;
		margin: 0;
		padding: 0;
		span.entry-date {
			&published {
				font-size: 0.6rem;
				color: gray;
				text-decoration: none;
			}
		}
	}
}
